#aside-content
  .card-webinfo
    .webinfo
      .webinfo-item-title
        display flex

        i
          line-height: 2 !important
          margin-right: 6px
          width: 16px
          text-align: center
          font-size: 16px !important

      .webinfo-item
        display flex
        justify-content space-between
        white-space nowrap
        -webkit-box-align center
        align-items center
        padding .1rem .5rem 0

        div:first-child
          -webkit-box-flex 1
          flex 1 1 0
          padding-right 1rem


  .card-allinfo

    hr
      display flex
      position relative
      margin 1rem 0
      border 1px dashed var(--efu-theme-op)

    .item-headline
      display none

    .card-tag-cloud
      max-height 500px
      overflow hidden
      position relative

      &.all-tags
        max-height none

        &:after
          display none

      &:after
        content ""
        position absolute
        bottom 0
        left 0
        right 0
        height 150px
        background-image linear-gradient(to top, var(--efu-card-bg), transparent)
        pointer-events none

      a
        display inline-block
        padding 0 0.3rem
        font-size .8rem
        border-radius 8px

        sup
          opacity .6
          margin-left 2px

        &:hover
          background var(--efu-theme)
          color var(--efu-white) !important
          box-shadow var(--efu-shadow-theme)
          cursor pointer
          border-radius 5px

        &.tags-cloud-more
          width 100%
          text-align center
          border-radius 8px !important
          border var(--style-border)
          margin-top 8px
          font-size 16px !important

    a#more-tags-btn
      width 100%
      text-align center
      background var(--efu-secondbg)
      color var(--efu-fontcolor)
      border-radius 8px
      display flex
      justify-content center
      font-size 14px
      user-select none
      padding 4px 0
      border var(--style-border-always)
      box-shadow var(--heo-shadow-border)

  .card-archives
    ul.card-archive-list
      margin 0
      padding 0
      list-style none
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap

      > .card-archive-list-item
        width 100%
        flex 0 0 48%

        a
          display inline-block
          padding .15rem .5rem
          width 100%
          color var(--efu-fontcolor)
          transition all .4s ease 0s
          border-radius: 8px
          margin: 4px 0
          flex-direction: column
          align-content: space-between
          border: var(--style-border)

          &:hover
            background-color var(--efu-theme)
            color var(--efu-card-bg)
            border-radius 5px
            box-shadow: var(--efu-shadow-theme)
            padding: .15rem .5rem
            border: var(--style-border-hover)
            cursor pointer

          span
            display inline-block
            vertical-align bottom

            &:last-child
              text-align right
              margin-left: 4px

          .card-archive-list-count-group
            display flex
            flex-direction row

            span.card-archive-list-count
              ext-align left
              font-size 1.1rem
              line-height 0.9
              font-weight bold

            .card-archive-list-count-unit
              width auto
              text-align left
              font-size 14px
              font-weight 700

          .card-archive-list-date
            font-size 14px
            opacity .6


if hexo-config('aside.tags.highlight')
  for tag in highlightTags
    tag = '"/tags/' + tag + '/"'
    #aside-content .card-tag-cloud a[href*={tag}]
      color var(--efu-lighttext)
      font-weight 500