#aside-content
  width 300px

  > .card-widget:first-child
    transition: .3s
    border: none
    box-shadow: none
    background: var(--efu-main)
    margin-top: 0

  +minWidth900()
    padding-left 15px

  +maxWidth1200()
    display none

  +minWidth1300()
    padding-left 1rem
    animation slide-in .6s .3s backwards

  .item-headline
    padding-bottom 0
    margin-left 8px
    font-size 1em
    font-weight 700
    display flex
    align-items center

    i
      font-size 16px
      max-width 20px

    span
      margin-left 4px

    + div, + ul
      padding 0
      user-select none

  .card-widget
    box-shadow var(--efu-shadow-border)
    background var(--efu-card-bg)
    border var(--style-border)
    transition 0.3s
    border-radius 12px
    position relative
    overflow hidden
    margin-top 1rem
    padding 1rem 1.2rem

    &:hover
      box-shadow var(--efu-shadow-border)

    > .card-widget
      &:first-child
        transition 0.3s
        border none
        margin-top 0

  .sticky_layout
    top calc(60px + 1rem)
    position sticky
    transition: top .3s ease 0s

+minWidth900()
  html.hide-aside .layout
    -webkit-box-pack: center
    justify-content: center
    >div:first-child
      width 100%

  html.hide-aside .layout > .aside-content
    display: none

@import "toc.styl"

if "about" in aside
  @import "info.styl"

if "allInfo" in aside
  @import "allinfo.styl"

if "wlcome" in aside
  @import "welcome.styl"

if "newestPost" in aside
  @import "newPost.styl"

if "flip" in aside
  @import "flip.styl"