#aside-content
  .card-widget
    &:hover
      .avatar-sticker
        opacity 0
        transform scale(0)

    &.card-recent-post
      padding .4rem .6rem !important

    &.card-info
      padding 0 !important
      box-shadow var(--efu-shadow-black)

      > div.card-content
        padding 1rem 1.2rem
        min-height 320px
        position relative

  > .card-widget.card-info
    &:before
      background linear-gradient(-25deg, var(--efu-main), var(--efu-main-op-deep), var(--efu-main), var(--efu-main-op-deep))
      background-size 400%
      position absolute
      width 100%
      height 100%
      left 0
      top 0
      content ''
      animation gradient 15s ease infinite

    > div.card-content
      padding 1rem 1.2rem
      min-height 320px
      position relative

    > div.card-info-avatarimg
      overflow hidden
      background var(--efu-yellow)
      transition 1.5s
      min-height 160px
      position relative
      box-shadow var(--efu-shadow-yellow)

      &:hover img
        transform scale(1.03)

  .card-info
    .avatar-sticker
      position absolute
      bottom -2px
      right -2px
      width 33px
      height 33px
      line-height 34px
      z-index 0
      display flex
      align-items center
      justify-content center
      transition .3s .2s
      transform scale(1)
      background var(--efu-card-bg)
      border-radius 50%

      img
        width 26px
        height 26px

      ../ :hover .avatar-sticker
        opacity 0
        transform scale(0)

    .author-info__desc
      font-size 12px
      color var(--efu-card-bg)
      opacity .6
      line-height 1

    #author-info__sayhi
      text-align center
      width fit-content
      color var(--efu-white)
      background var(--efu-white-op)
      font-size 12px
      padding 2px 8px
      border-radius 12px
      cursor pointer
      user-select none
      transition .3s
      margin auto
      min-width 100px

      / [data-theme=dark] &
        background #00000015
        color var(--efu-black)

        &:hover
          color var(--efu-white)

      &:hover
        background var(--efu-card-bg)
        color var(--efu-main)
        transform scale(1.1)

    .card-info-avatar.is-center
      flex-direction column
      display flex
      align-items flex-start

    .avatar-img-group
      width 118px
      height 118px
      right calc(50% - 59px)
      top 90px
      border-radius 500px
      position absolute
      transition cubic-bezier(.69, .39, 0, 1.21) .3s
      transform-origin bottom
      border 5px solid var(--efu-card-bg)

      ../ :hover .avatar-img-group
        opacity 0
        transform scale(0)

    .author-info__name
      text-align left
      font-weight 700
      color var(--efu-card-bg)
      font-size 20px
      line-height 1
      margin-bottom 5px

    .author-info__top-group
      display flex
      height 28px
      width 100%

    .author-info__description_group
      position absolute
      top 50px
      width 100%
      left 0
      padding 1.2rem
      opacity 0
      transition .3s

      ../ :hover .author-info__description_group
        opacity 1

      .author-info__description
        line-height 1.38
        margin .3rem 0
        text-align justify
        color var(--efu-card-bg)

        b
          color var(--efu-card-bg)

      .author-info__description2
        line-height 1.38
        margin .3rem 0
        text-align justify
        width 100%
        z-index 2
        color var(--efu-card-bg)

        b
          color var(--efu-card-bg)

    .author-info__bottom-group
      display flex
      justify-content space-between
      position absolute
      padding 1.2rem
      width 100%
      left 0
      bottom 0
      align-items center

      a.author-info__bottom-group-left:hover
        opacity .8

    .card-info-data
      display table
      margin .7rem 0 .2rem
      width 100%
      table-layout fixed

      > div:nth-child(0) > a > div.headline
        font-weight 700

      > .card-info-data-item
        display table-cell
        transition .3s

        a
          .headline
            color var(--efu-fontcolor)
            font-size 1em

          .length-num
            margin-top -.3rem
            color var(--text-highlight-color)
            font-size 1.4em

        &:hover
          background #000
          border-radius 5px

    .card-info-social-icons
      margin 0
      display flex
      justify-content flex-start
      flex-direction row
      flex-wrap nowrap
      cursor pointer

      .social-icon
        margin 0
        margin-left 8px
        color var(--efu-fontcolor)
        font-size 1.4em
        cursor pointer
        display flex

      i
        transition all .3s ease 0s
        padding 8px
        border-radius 32px
        cursor pointer
        background var(--efu-white-op)
        color var(--efu-card-bg)
        width 40px
        height 40px
        display flex
        align-items center
        justify-content center

        &:hover
          background var(--efu-white)
          transform scale(1.1)
          color var(--efu-main)
          box-shadow none

        / [data-theme=dark] &
          background var(--efu-black-op)

          &:hover
            background-color var(--efu-black)
            color var(--efu-white)

    img.avatar-img
      width 118px
      right 0
      top 0
      border-radius 500px
      position absolute
      opacity 1
      transition .3s

[data-theme=dark] #aside-content
  > .card-widget.card-info
    border var(--style-border-always)