#aside-content
  .card-recent-post
    .aside-list
      .aside-list-item
        padding 2px 6px 8px 6px
        border-radius 12px
        transition .3s
        margin 4px 0
        cursor pointer
        display flex
        align-items flex-start

        &:hover
          background var(--efu-main)
          color var(--efu-white)
          transition .3s
          box-shadow var(--efu-shadow-main)

          .content a
            color var(--efu-white)

        .thumbnail
          -webkit-mask-image -webkit-radial-gradient(center, #fff, #000)
          border-radius 8px
          border var(--style-border)
          display flex
          align-items center
          overflow hidden
          width 2.1em
          height 2.1em
          margin-top 4px

          img
            width 140%
            height 140%
            transition all .6s ease 0s
            object-fit cover

        .content
          -webkit-box-flex 1
          flex 1 1 0
          padding-left 10px
          word-break break-all
          display flex
          flex-direction column

          .title
            font-weight 700
            padding 2px 0
            margin-bottom 8px
            color var(--efu-fontcolor)
            font-size 95%
            line-height 1.3
            -webkit-line-clamp 2
            overflow hidden

          .article-recent_post_categories
            font-size 12px
            font-weight 700
            opacity .6
            line-height 1