*
  box-sizing border-box

html
  line-height 1.15
  -webkit-text-size-adjust 100%
  text-size-adjust 100%
  height: 100%;
  font-size: 20px
  overflow-y: overlay

main
  display block

body
  position relative
  min-height 100%
  background var(--efu-background)
  color var(--efu-fontcolor)
  font-size 16px
  font-family "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei"
  line-height 2
  -webkit-tap-highlight-color transparent
  margin 0

::selection
  background var(--efu-main)
  color var(--efu-white)

i.solitude
  font-size 22px
  line-height 1

h1
  font-size 2em
  margin .67em 0

h1, h2, h3, h4, h5, h6
  padding-top 0
  padding-left 0
  font-weight 700
  position relative
  margin 1rem 0 0.7rem
  color var(--efu-fontcolor)

hr
  box-sizing content-box
  height 0
  overflow visible
  display: none

pre
  font-family monospace, monospace

a
  color var(--efu-fontcolor)
  text-decoration none
  transition all .3s ease 0s
  overflow-wrap break-word
  -webkit-user-drag none

abbr[title]
  border-bottom none
  text-decoration underline dotted

b, strong
  font-weight bolder

code, kbd, samp
  font-family monospace, monospace
  font-size 1em

small
  font-size 80%

sub, sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sub
  bottom -.25em

sup
  top -.5em

button, input, optgroup, select, textarea
  font-family inherit
  font-size 100%
  line-height 1.15
  margin 0

button, input
  overflow visible

input::placeholder
  color var(--efu-gray)

button, select
  text-transform none

[type=button], [type=reset], [type=submit], button
  appearance button

fieldset
  padding .35em .75em .625em

legend
  box-sizing border-box
  color inherit
  display table
  max-width 100%
  padding 0
  white-space normal

progress
  vertical-align baseline

textarea
  overflow auto

[type=checkbox], [type=radio]
  box-sizing border-box
  padding 0

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button
  height auto

[type=search]
  appearance textfield
  outline-offset -2px

[type=search]::-webkit-search-decoration
  appearance none

input[type=checkbox] + label::before, input[type=radio] + label::before
  content ''
  display inline-block
  width 16px
  height 16px
  border 1px solid #999
  background-color #fff
  margin-right 5px
  vertical-align middle

::-webkit-file-upload-button
  appearance button
  font inherit

summary
  display list-item

template
  display none

[hidden]
  display none

input::placeholder
  color var(--efu-fontcolor)

.table-wrap
  overflow-x scroll
  margin 0 0 1rem

table
  display table
  width 100%
  border-spacing 0
  border-collapse collapse
  empty-cells show

table thead
  background rgba(153, 169, 191, .1)

table td, table th
  padding .3rem .6rem
  border 1px solid var(--light-grey)
  vertical-align middle

button
  padding 0
  outline 0
  border none
  color var(--efu-fontcolor)
  background 0 0
  cursor pointer

img
  border-style none
  max-width 100%
  transition all .2s ease 0s
  -webkit-user-drag none

img:not([src]), img[src=""]
  opacity 0

.img-alt
  font-size 12px
  margin 0
  margin-top 8px
  color var(--efu-secondtext)

.is-center
  text-align center
  display flex
  flex-wrap wrap
  justify-content center
  flex-direction row
  align-items center

.copy-true
  user-select all

.pull-left
  float left

.pull-right
  float right

blockquote
  border: var(--style-border-always);
  background-color: var(--efu-secondbg);
  color: var(--efu-secondtext);
  border-radius: 8px;
  margin: 1rem 0;
  padding: .5rem .8rem

  a
    color var(--blockquote-color)

  p
    margin 0 !important
    padding: 0

  .pullquote
    position relative
    max-width 45%
    font-size 110%

    .left
      left 0
      margin 1em .5em 0 0

    .right
      right 0
      margin 1em 0 0 .5em

li, ul
  list-style none
  display block
  margin 0
  padding 0

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  background var(--efu-scrollbar)
  border-radius 8px
  cursor pointer

::-webkit-scrollbar-thumb:hover
  background var(--efu-main)
  opacity 1
  display block !important

::-webkit-scrollbar-track
  background-color var(--efu-none)

[data-theme=dark] img
  filter brightness(1)

a.extend
  .next
    right 0

  .prev
    left 0

.table-wrap
  margin 1rem 0
  border-radius 8px

table td, table th
  border var(--style-border-always)

table thead
  background var(--efu-secondbg)

b, strong
  color var(--efu-lighttext)

.button--animated
  border-radius 8px
  transition .3s
  position relative

if hexo-config('fancybox')
  a.fancybox
    border-bottom 0
    padding 0
    margin auto
    display contents
    width fit-content
    user-select none