.layout
  display: flex
  margin: 0 auto
  padding: 1rem 1.5rem
  max-width: 1200px
  +maxWidth768()
    padding 0

  &#content-inner
    max-width: 1400px

  /.hide-aside.layout
    max-width: 1400px

    > div
      width: 100% !important

  > div:first-child
    width calc(100% - 300px)

    +maxWidth1200()
      width 100%

  > div:first-child:not(.recent-posts)
    box-shadow var(--efu-shadow-border)
    padding 1rem 2rem
    border-radius 12px
    background var(--efu-card-bg)
    border var(--style-border)
    align-self flex-start
    animation slide-in .6s .1s backwards
    position relative

    +maxWidth768()
      box-shadow none
      border none
      padding 0 1rem
      background var(--efu-background)

span.tags-punctuation::before
  content: "\e071"
  font-family: solitude, serif !important
  font-size: 12px
  transition none
  margin-right: 2px
  opacity: .4

  .hide-aside #page &
    font-size 16px

  #post-info &
    font-size 14px
    line-height 32px

// snackbar
body .snackbar-container
  background var(--efu-lighttext) !important
  color var(--efu-card-bg) !important
  border-radius 0 !important
  display flex
  justify-content center !important
  max-width none !important
  min-width 100% !important
  margin 0 !important
  left 0 !important
  height 60px !important
  transform none !important

.snackbar-container p
  color var(--efu-card-bg) !important
  font-weight 700 !important
  text-align center !important
  font-size .8rem !important
  display flex !important
  justify-content center !important

.snackbar-container .action
  color var(--efu-card-bg) !important
  background var(--efu-lighttext) !important
  padding 4px 6px !important
  font-weight 700
  border-radius 8px !important
  transition .3s
  border var(--style-border) !important

.snackbar-container .action:hover
  color var(--efu-lighttext) !important
  background var(--efu-card-bg) !important

.snackbar-container::after
  position absolute
  width 0
  height 100%
  left 0
  top 0
  background var(--efu-white)
  opacity .1
  content ""
  animation snackbar-progress var(--efu-snackbar-time) linear forwards
  pointer-events none

@keyframes snackbar-progress
  from
    width 0
  to
    width 100%

// universe
if hexo-config('display_mode.universe')
  #universe
    display block
    position fixed
    margin 0
    padding 0
    border 0
    outline 0
    left 0
    top 0
    width 100%
    height 100%
    pointer-events none
    z-index 1
  [data-theme=light]
    #universe
      display none