:root
  --efu-white #fff
  --efu-white-op rgba(255, 255, 255, 0.2)
  --efu-black #000
  --efu-black-op rgba(0, 0, 0, 0.2)
  --efu-none #00000000
  --efu-gray #999999
  --efu-gray-op #9999992b
  --efu-cyan #00bcd4
  --efu-cyan-op #00bcd42b
  --efu-vip #e5a80d
  --efu-speed #57bd6a
  --efu-main var(--efu-theme)
  --efu-main-op var(--efu-theme-op)
  --efu-main-op-deep var(--efu-theme-op-deep)
  --efu-main-op-light var(--efu-theme-op-light)
  --efu-main-none var(--efu-theme-none)
  --efu-shadow-theme 0 8px 12px -3px var(--efu-theme-op)
  --efu-shadow-blackdeep 0 2px 16px -3px rgba(0, 0, 0, .15)
  --efu-shadow-main 0 8px 12px -3px var(--efu-main-op)
  --efu-shadow-blue 0 8px 12px -3px rgba(40, 109, 234, .20)
  --efu-shadow-white 0 8px 12px -3px rgba(255, 255, 255, .20)
  --efu-shadow-black 0 0 12px 4px rgba(0, 0, 0, .05)
  --efu-shadow-yellow 0px 38px 77px -26px rgba(255, 201, 62, .12)
  --efu-shadow-red 0 8px 12px -3px #ee7d7936
  --efu-shadow-green 0 8px 12px -3px #87ee7936
  --efu-logo-color linear-gradient(215deg, #4584ff 0%, #cf0db9 100%)
  --efu-snackbar-time 5s
  --global-font-size 14px
  --global-bg #fff
  --hr-border #97bcfb
  --hr-before-color #6ea2f9
  --search-bg #f6f8fa
  --search-input-color #4c4948
  --search-result-title #4c4948
  --preloader-bg #37474f
  --preloader-color #fff
  --tab-border-color #f0f0f0
  --tab-botton-bg #f0f0f0
  --tab-botton-color #1f2d3d
  --tab-button-hover-bg #dcdcdc
  --tab-button-active-bg #fff
  --sidebar-bg #f6f8fa
  --btn-hover-color #ff7242
  --btn-color #fff
  --btn-bg #307af6
  --text-bg-hover #307af6
  --light-grey #eee
  --text-highlight-color #1f2d3d
  --blockquote-color #6a737d
  --blockquote-bg rgba(73, 177, 245, 0.1)
  --reward-pop #f5f5f5
  --toc-link-color #666261
  --card-box-shadow 0 3px 8px 6px rgba(7, 17, 27, 0.06)
  --card-hover-box-shadow 0 3px 8px 6px rgba(7, 17, 27, 0.15)
  --offset 0px
  --hlscrollbar-bg #121212